


<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-question">
        <p>Question <%=  @question.name %> </p>
        <p> <%=@question.question %> </p>


        <!-- <p> </p> -->



<% %>

<!--
        </%  simple_form_for @question do |f| %>
          </% @question.answers.each do |answer| %>
            </% f.input :choice, as: :radio_button label: "#{answer.answer}" %>
          </% end %>
          </% f.submit class: "btn btn-quiz-box" %>
        </% end %> -->

        <%= form_with url: question_choices_path(@question.id), local:true, method: :post do  %>
          <div class="answers">
            <% @question.answers.each do |answer| %>
              <%= radio_button_tag "answer", "#{answer.beast_id}", false %>
              <%= label_tag "#{answer.beast_id}", answer.answer%>
            <% end %>
            <%if @question.name == "three" %>
            <%= submit_tag "Find my diva beast! #{}"%>
            <% else %>
            <%= submit_tag "next question #{}"%>
            <% end%>
          </div>

        <% end %>







        <%if @question.name == "three" %>
          <button><%=link_to  "Find my diva beast! #{}", beast_path(Beast.first) %>   </button>
        <% else %>
          <button><%=link_to  "next question #{}", question_path(@question.id.next) %>   </button>
        <% end%>



    </div>
  </div>
</div>
