


<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-question">
        <p>Question <%=  @question.name %> </p>
        <p> <%=@question.question %> </p>


        <!-- <p> </p> -->
        <!-- <!% @question.answers.each do |answer| %>
          <p> <!%= answer.answer%> </p>
        <!% end %> -->


<% %>


        <%  form_for @question.question do |f| %>
          <% f.collection_radio_buttons :options, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
        <% end %>

        <input id="user_options_true" name="user[options]" type="radio" value="true" />
        <label class="collection_radio" for="user_options_true">Yes</label>
        <input id="user_options_false" name="user[options]" type="radio" value="false" />
        <label class="collection_radio" for="user_options_false">No</label>

        <% @question.answers.each do |answer| %>
          <ul style="list-style: none; margin: 0; padding: 0;">
            <li>
            <input type="radio" >
            <label for="user_options_true"><%= answer.answer%></label>
            </li>
          </ul>
        <% end %>

        <!--%= collection_radio_buttons( Answer.all, :letter, :answer, )%-->


        <%if @question.name == "three" %>
          <button><%=link_to  "Find my diva beast! #{}", beast_path(Beast.first) %>   </button>
        <% else %>
          <button><%=link_to  "next question #{}", question_path(@question.id.next) %>   </button>
        <% end%>



    </div>
  </div>
</div>
