
<p>Question <%=  @question.name %> </p>
<p> <%=@question.question %> </p>


<!-- <p> </p> -->
<% @question.answers.each do |answer| %>
  <p> <%= answer.answer%> </p>
<% end %>

<!--%= collection_radio_buttons( Answer.all, :letter, :answer, )%-->


<%if @question.name == "three" %>
  <button><%=link_to  "Find my diva beast! #{}", beast_path(45) %>   </button>
<% else %>
  <button><%=link_to  "next question #{}", question_path(@question.id.next) %>   </button>
<% end%>
