


<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-question">
        <p>Question <%=  @question.name %> </p>
        <p> <%=@question.question %> </p>


        <!-- <p> </p> -->
        <!-- <!% @question.answers.each do |answer| %>
          <p> <!%= answer.answer%> </p>
        <!% end %> -->


<% %>


        <%  simple_form_for @question do |f| %>

        <% end %>
        <% @question.answers.each do |answer| %>
          <ul style="list-style: none; margin: 0; padding: 0;">
            <li>
            <input id="#{answer.beast_id}" name="answers" type="radio" value="#{answer.beast_id}">
            <label for="#{answer.beast_id}"><%= answer.answer%></label>
            </li>
          </ul>
        <% end %>




        <%if @question.name == "three" %>
          <button><%=link_to  "Find my diva beast! #{}", beast_path(Beast.first) %>   </button>
        <% else %>
          <button><%=link_to  "next question #{}", question_path(@question.id.next) %>   </button>
        <% end%>



    </div>
  </div>
</div>
