
<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card-question">
        <p class="q-name">Question <%=  @question.name %> </p>
        <p class="q-question"> <%=@question.question %> </p>

        <%= form_with model: @question, local:true, method: :patch do  %>
          <div class="answers">
            <% @question.answers.each do |answer| %>
              <%= radio_button_tag "answer", "#{answer.beast_id}", false, required: 'required' %>
              <%= label_tag "#{answer.beast_id}", answer.answer%>
            <% end %>
            <%if @question.name == "three" %>
            <%= submit_tag "Find my diva beast! #{}"%>
            <% else %>
            <%= submit_tag "next question #{}"%>
            <% end%>
          </div>
        <% end %>

    </div>
  </div>
</div>


        <!-- <p> </p> -->
        <!-- <!% %>
        <!%= %> -->
