
<div class="background-question">

      <div class="card-question">
        <p class="number">Question <%=  @question.name %> </p>
        <p class="question"> <%=@question.question %> </p>

        <%= form_with model: @question, local:true, method: :patch do  %>
          <div class="answers">
            <ul class="answer-list">
            <% @question.answers.each do |answer| %>
              <li><%= radio_button_tag "answer", "#{answer.beast_id}", false, required: 'required' %>
              <%= label_tag "#{answer.beast_id}", answer.answer%></li>
            <% end %>
            </ul>
            <%if @question.name == "three" %>
            <%= submit_tag "Find my diva beast! #{}"%>
            <% else %>
            <%= submit_tag "Next question #{}"%>

            <% end%>
          </div>
        <% end %>

    </div>

</div>


        <!-- <p> </p> -->
        <!-- <!% %>
        <!%= %> -->
