<div class="beast-box">

  <div class="d-flex justify-content-center">
    <h1 id="beast-header">It's A Zoo Out There!</h1>
  </div>



  <div class="flex-container">
    <div class="d-flex justify-content-center">

      <% @beasts.each do |beast| %>
        <div class="d-flex mb-4 flex-wrap">
          <div class="card-beast">
            <img src= <%= image_path(beast.picture)%> >
            <div class="card-beast-infos">
            <ul style="list-style: none; margin: 0; padding: 0;">
              <li><h2><%= link_to "#{beast.name}", beast_path(beast) %></h4></li>
              <li><h3><%= beast.description %></h3></li>
              <!-- <li><p><%= beast.explanation %></p></li> -->
            </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <div><%= link_to 'Back to start', root_path, class: "btn btn-primary ml-3" %></div>


</div>

<!-- cougar by Meg Jerrard on unsplash -->
<!-- frog by Kobe Tang -->
<!-- swan by Emily Sevenoaks -->
<!-- insect by Dorothea OLDANI -->
